<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="./style5.css">
</head>
<body>

<h1>Welcome to the Medical Portal</h1>
<div class="home">
<button onclick="location.href='doctor_registration'">BioMedical Enginnere Register</button>
<button onclick="location.href='doctor_login'">BioMedical Enginnere Login</button>
<button onclick="location.href='user_registration'">Nurse station Register</button>
<button onclick="location.href='user_login'">Nurse station Login</button>
</div>
</body>
</html>
